html
	head
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')

	body
		nav.navbar-light.bg-light.d-flex
			nav.navbar-light.bg-light.d-flex
				img(src='/images/greekhotel-logo-white.png')
				a.navbar-brand.ml-2(href='/') List User
			ul.navbar-nav
				li.nav-item.active
					a.nav-link(href='/') Home
			ul.navbar-nav.ml-3
				li.nav-item.active
					a.nav-link(href="/users") Users
			ul.navbar-nav.ml-3
				li.nav-item.active
					a.nav-link(href="/users/create") Create
			ul.navbar-nav.ml-3
				li.nav-item.active
					a.nav-link(href="/users/search?q=") Search
			ul.navbar-nav.ml-3
				li.nav-item.active
					a.nav-link(href="/products") Product
			
			if user
				p= user.name
		.container.pt-5
			block content