extends ../layouts/common.pug

block content
	h1 Users
	table.table
		tr
			th avatar
			th Name
			th Phone
			th Action
	
		each user in users
			tr
				td
					img(src=user.avatar width="64")
				td= user.name
				td= user.phone
				td
					a(href='/users/' + user.id) View


	a.btn.btn-primary(href="users/create") NEW

		